:host {
  width: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;

  .data-table {
    margin-top: 2rem;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;

    table {
      border-collapse: collapse;
      width: 100%;
    }

    &__header {
      th {
        height: 25px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        text-align: left;
        padding: 1rem 0;
        min-width: 40px;
      }
    }

    &__items {
      td {
        padding: 1rem 0;
        border-top: 1px solid grey;
        &:first-child {
          text-align: center;
        }
      }

      .item {
        &__delete-btn {
          color: red;
          font-size: 2rem;
          cursor: pointer;
        }

        &__favourite {
          cursor: pointer;
          font-size: 1rem;
          transition: .3s;

          &:hover {
            color: #d8ff00;
            font-size: 1.5rem;
          }

          &--selected {
            cursor: pointer;
            color: #d8ff00;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}