<div class="data-table">
  <table>
    <thead>
      <tr class="data-table__header">
        <th></th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="data-table__items">
      <tr class="item" *ngFor="let contact of contacts; index as i; trackBy: trackByFn">
        <td (click)="setFavourite(contact)">
          <i class="fa fa-star-o" [ngClass]="{'item__favourite--selected': contact.favourite, 'item__favourite': !contact.favourite}" aria-hidden="true"></i>
        </td>
        <td>{{ contact.secondName }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.thirdName }}</td>
        <td>{{ contact.phone | phone }}</td>
        <td>
          <i (click)="deleteContact(contact._id)" class="fa fa-times item__delete-btn" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>