<div class="application">
  <div class="preloader" *ngIf="loading">
    <img src="../assets/preloader.gif" alt="Preloader">
  </div>
  <app-form></app-form>
  <app-data-table></app-data-table>
</div>
