:host {
  width: 50%;
  position: fixed;
  top: 5%;
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    
    :first-child {
      padding-bottom: 0.5rem;
      font-size: 1rem;
    }

    input {
      border: 1px solid #909090;
      padding: 0;
      border-radius: .2rem;
      height: 1.5rem;
      padding-left: 0.5rem;
    }

    .error {
      color: red;
      position: absolute;
    }
  }

  &__button {
    background-color: #28a745;
    border: none;
    outline: none;
    border-radius: .2rem;
    color: #fff;
    height: 1.7rem;
    width: 1.7rem;
    cursor: pointer;
    transition: 1s;

    &:hover {
      background-color: #048221;
    }
  }
}