<div class="form">
  <form class="form" [formGroup]="form" (ngSubmit)="addContact()">
    <div class="form__item">
      <label for="second-name">Фамилия*</label>
      <input name="second-name" 
             type="text"
             formControlName="secondName"
      >
      <div *ngIf="form.controls.secondName.errors?.required && (form.controls.secondName.dirty || form.controls.secondName.touched)">
        <span class="error">Обязательное поле</span>
      </div>
    </div>
    
    <div class="form__item">
      <label for="first-name">Имя</label>
      <input name="first-name" 
             type="text"
             formControlName="firstName"
      >
    </div>

    <div class="form__item">
      <label for="third-name">Отчество</label>
      <input name="third-name" 
             type="text"
             formControlName="thirdName"
      >
    </div>

    <div class="form__item">
      <label for="phone">Телефон*</label>
      <input name="phone" 
             type="text"
             formControlName="phone"
             prefix="+7 "
             mask="(000) 000-00-00"
      >
      <div *ngIf="form.controls.phone.errors?.required && (form.controls.phone.dirty || form.controls.phone.touched)">
        <span class="error">Обязательное поле</span>
      </div>

      <div *ngIf="form.controls.phone.errors?.pattern && (form.controls.phone.dirty || form.controls.phone.touched)">
        <span class="error">Некорректные данные</span>
      </div>
    </div>

    <button class="form__button">+</button>
  </form>
</div>